apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}
spec:
  type: NodePort
  ports:
    - port: 8080
      nodePort: {{ app_port }}
      targetPort: 8080
  selector:
    app: {{ app_name }}
