---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jenkins-localhost-pvc
spec:
  storageClassName: "{{ setup_jenkins__storage_class_name }}"
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 30Gi